
*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url("back.jpeg");
   
    font-family: 'Poppins', sans-serif;
}

#navigation {
    display: flex;
    flex-wrap: wrap;
     align-items: center; 
    background-color: rgb(129, 189, 249);
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    font-size: 20px;
    padding: 4px 15px;
}

.navbar a:hover {
    color: rgb(193, 191, 191);
    background-color: rgb(71, 70, 70);
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.icon {
    height: 40px;
    width: 40px;
    margin: 0px 5px;
    border-radius: 25px;
}

.container{
    padding: 20px 70px;
    color:#fff;
    display: inline;
}

.date-container{
    font-weight: 100;
}
.date-container .time{
    font-size: 70px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}
.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 115px;
}    


#cityInput,button{
    margin: 3px;
    padding:5px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    display: inline-block;
    width: 300px;
}

.p_container{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    cursor: pointer;
}

#inputContainer{
    padding:5px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    width: 105px;
    margin: 0px;
    
}
@media(min-width:720px){
.button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    /* color: white; */
    height: 30px;
    width: 37px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 2px;
   
}
.btn{
    
    border: none;
    color: white;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 7px;
    top: 0px;   
}
#cityInput{
    background-color: rgb(129, 189, 249);
    border: 2px solid white;
    color: white;
    height: 16px;
    margin: 0px;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
    position: absolute;
    right: 40px;
    top: 5px;
    display: inline-block;
}
}
@media(max-width:720px){
.button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    color: white;
    height: 34px;
    width: 37px;
    display: inline-block;
   
}
.btn{
    
    border: none;
    color: white;
    height: 19px;
    width: 28px;
    display: inline-block;
    
}
#cityInput{
    background-color: rgb(129, 189, 249);
    border: 2px solid white;
    color: white;
    height: 16px;
    margin: 0px;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
    width: 100px;
    display: inline-block;
}
.ptn{
    display: flex;
    flex-direction: row;
}
}


#weatherContainer{
   margin-bottom: 10px;
}


#iconsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;
    /* border: 5px solid rgb(31, 82, 82); */
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}
.icons{
    display: inline-bock;
    float: left;
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.image{
    height: 140px;
    width: 100%;
}

.imgClass{
    height: 140px;
    width: 100%;
}

.weather{
    margin: 5px;
   /*  background-color: rgb(106, 215, 255); */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}